/**********************************************/
/* CONTACT */
/**********************************************/
@use "../abstracts" as a;

.contact-section {
    padding: a.rem(80) 0;
}
.contact-form {
    width: 100%;
    gap: a.rem(24);
    &__group {
        width: 100%;
        display: flex;
        align-items: center;
        gap: a.rem(20);
        @include a.breakpoint-down(small) {
            flex-direction: column;
        }
    }
    &__input {
        width:100%;
        padding: a.rem(12) a.rem(16);
        font-size: var(--fs-500);
        color: var(--clr-tertiary);
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    &__btn {
        text-align: center;
    }
    textarea {
        max-height: a.rem(180);
        resize: none;
    }
}
.contact-socials {
    &__txt {
        font-size: var(--fs-500);
        font-weight: 500;
        color: var(--clr-tertiary-300);
        gap: a.rem(12);
        @include a.breakpoint-down(small) {
            flex-direction: column;
        }
    }
    &__links {
        gap: a.rem(20);
    }
    &__link {
        font-size: var(--fs-500);
        color: var(--clr-tertiary-200);
        transition: all var(--transition-fast);
        &:hover {
            transform: translateY(a.rem(-8));
            color: var(--clr-primary-300);
        }
    }
}